* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  color: var(--text-color);
  background: var(--body-bg-color);
}

#container {
  display: flex;
  flex-direction: column;
}

#profile {
  border: 1px solid red;
  width: 348px;
  height: 292px;
}

#profile img {
  width: 128px;
  height: 128px;
}

#social-info {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 348px;
  height: 348px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
