* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  color: var(--text-color);
  background: var(--body-bg-color);
}

#container {
  display: flex;
  flex-direction: column;
}

#profile {
  border: 1px solid red;
  width: 100%;
  max-width: 348px;
  text-align: center;
  padding: 32px 0 49px;
}

#profile h2 {
  padding-top: 30px;
  font-size: 23px;
  font-weight: 700;
}

#profile p {
  font-size: 13px;
  font-weight: 300;
}

#profile img {
  width: 128px;
  height: 128px;
}

#social-info {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 348px;
  padding: 30px 40px;
}

a {
  display: flex;
  flex-direction: unset;
  color: var(--text-color);
  text-decoration: none;
  line-height: normal;
  font-weight: 400;
  font-size: 13px;
}

#social-info img {
  display: flex;
  width: 24px;
  height: 24px;
  margin: 10px 20px 10px 0px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
